.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;

    & .title {
        color: var(--main-color);
        font-weight: bold;
        font-size: 2rem;
    }

    & .logo {
        width: max(10%, 80px);
    }

    & .profile {
        width: 40px;
    }
}