.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;

    & h1 {
        color: #262626;
        font-weight: 500;
    }

    & hr {
        margin: 10px 0;
        height: 2px;
        border-color: #e2e2e2;
        border: none;
    }
}

.explore-menu-text {
    max-width: 60%;
    columns: #808080;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: auto;
    cursor: grab;
    
    &.active {
        cursor: grabbing;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    & .arrow{
        position: absolute;
        bottom: calc(50% - 16px);
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &.right {
            right: -25px;
        }
        &.left {
            left: -25px;
        }
    }

}

.explore-menu-list-item{
    cursor: pointer;

    & img {
        width: 7.5vw;
        min-width: 80px;
        cursor: pointer;
        border-radius: 50%;
        transition: .2s;
        pointer-events:none;
        user-select: none;
    }

    & p{
        margin-top: 10px;
        color: #747474;
        font-size: max(1.4vw, 16px);
        cursor: pointer;
        user-select: none;
    }

    & .active {
        border: 4px solid var(--main-color);
        padding: 2px;
    }
}

.scroll-container {
    position: relative;
}

@media (max-width:1050px) { 
    
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}