.header-container {
    width: 100%;
    margin-top:85px;
}

.header {
    height: 34vw;
    width: 100%;
    margin: 30px auto;
    background: url('/hero-section.jpg') no-repeat;
    background-color: rgb(116, 90, 42);
    background-blend-mode: overlay;
    background-size: 100%;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 80%;
    margin: auto;
    bottom: 10%;
    left: 10vw;
    animation: fadeIn 3s;
}

.header-contents {
    & h2 {
        font-weight: 500;
        color: var(--white-color);
        font-size: max(4.5vw,22px);
    }

    & p{
        color: var(--white-color);
        font-size: 1vw;
    }

    & a {
        border: none;
        color: #747474;
        font-weight: 500;
        padding: 1vw 2.3vw;
        background-color: var(--white-color);
        font-size: max(1vw, 13px);
        border-radius: 50px;
        transition: .3s;

        &:hover {
            background-color: var(--main-color);
            color: var(--white-color);
        }
    }
}

@media (max-width: 1050px) { 
    
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) { 
    
    .header-contents {
        max-width: 75%;

        & p {
            display: none;
        }

        & button {
            padding: 2vw 4vw;
        }
    }
}